.bg-gray {
    background-color: #00000033;
}

.w-90 {
    width: 90%;
}

.text-btn{
    font-size: 24px;
    text-transform: uppercase;
}
.titre {
    font-family: 'Love Ya Like A Sister';
    font-size: 128px;
    margin-bottom: 0;
}

.fs-20 {
    font-size: 20px;
}

.fs-50 {
    font-size: 50px;
}

.p-20 {
    padding: 20px;
}

#agendboyquisait {
    position: absolute;
    top: -80px;
    right: -30px;
    height: 109px;
}