* {
    font-family: 'Love Ya Like A Sister', cursive;
}
body {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.section-class {
    height: 60vh;
}
.border-gray {
    border-color: #00000033;
}
.bg-gray {
    background-color: #00000033;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}
.w-90 {
    width: 90%;
}

.top-30px {
    top: 30px;
}

.text-btn{
    font-size: 24px;
    text-transform: uppercase;
}
.titre {
    font-family: 'Love Ya Like A Sister';
    font-size: 128px;
    margin-bottom: 0;
}

.fs-20 {
    font-size: 20px;
}

.fs-50 {
    font-size: 50px;
}

.p-20 {
    padding: 20px;
}

.w-110px {
    width: 110px;
}

.w-140px {
    width: 140px;
}

.hero {
    color: black;
    width: 50%;
    max-width: 750px;
}
h1 {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 130px;
}
#imgBg {
    height: 96vh;
    filter: blur(5px);
    position: absolute;
    z-index: -1;
    width: 99%;
    display: block;
    margin: 0 auto;
}

header {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    left: 10px;
}

header i {
    font-size: 20px;
}

.btn-all-gray {
    width: 50px;
    background-color: white;
    color: black;
    cursor: pointer;
}
